<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/jobportal/sign_up.css">
</head>
<body class="bg-light">

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="sign_up_card card p-4 shadow-sm">
        <h1 class="text-center mb-4">Sign Up</h1>
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="id_first_name" class="form-label">First Name</label>
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </div>

            <div class="mb-3">
                <label for="id_last_name" class="form-label">Last Name</label>
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>

            <div class="mb-3">
                <label for="id_email" class="form-label">Email</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <div class="mb-3">
                <label for="id_phone_number" class="form-label">Phone Number</label>
                {{ form.phone_number }}
                {{ form.phone_number.errors }}
            </div>

            <div class="mb-3">
                <label for="id_password" class="form-label">Password</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>

            <button class="btn btn-success w-100" type="submit">Sign Up</button>
        </form>
        <a href="{% url 'sign-in' %}"><button class="btn w-100 mt-2">Sign In</button></a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
